html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #bf1e2d;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

img {
  height: 100%;
  height: auto;
}